*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainc{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

header{
    background-color: #65a96e;
    width: 100%;
    justify-content: center;
    padding: 6px;
}

.logoc{
    display: flex;
    width: 25%;
    height: 70px;
    justify-content: center;
}
.redesc{
    display: flex;
    width: 25%;
    justify-content: center;
}
.menuc{
    display: flex;
    width: 50%;
    justify-content: center;
}
.menuc nav a{
    padding-right: 30px;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    color: #2c5c34;
}
.menuc nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-color: #b4cfbc;
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.5s;
}
.menuc nav a:hover::after{
    width: 40px;
}

.redesc button{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    margin-right: 25px;
    border-radius: 8px;
    
    background-color: #b4cfbc;
}
.redesc button i{
    font-size: 20px;
    color: #2c5c34;
}