<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/649e88a597.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testando</title>
    <link rel="stylesheet" href="./static/testi.css">
</head>
<header>
    <div class="main">
        <div class="logo"> <img src="./caneca.png" alt="caneca"></div>
        <div class="menu">
            <nav>
                <a href="/carta">Escrever</a>
                <a href="#">Mostrar</a>
            </nav>
        </div>
        <div class="redes">
            <a href="https://github.com/zeloo22?tab=repositories"><button><i class="fa-brands fa-github"></i></button></a>
            <a href="https://www.instagram.com/diniz_22/"><button><i class="fa-brands fa-instagram"></i></button></a>
        </div>

    </div>
</header>
<body>
</body>
</html>