<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/649e88a597.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/aa.css">
    <link rel="stylesheet" href="./static/testi.css">
</head>
<header>
    <div class="mainc">
        <div class="logoc"> <img src="{{url_for('static', filename='caneca.png') }}" alt="caneca"></div>
        <div class="menuc">
            <nav>
                <a href="/signup">Cadastrar</a>
            </nav>
        </div>
        <div class="redesc">
            <a href="https://github.com/zeloo22?tab=repositories"><button><i class="fa-brands fa-github"></i></button></a>
            <a href="https://www.instagram.com/diniz_22/"><button><i class="fa-brands fa-instagram"></i></button></a>
        </div>

    </div>
</header>

<body>
    <div class="main">
        <div class="left-login">
            <h1>Faca login <br> para usufruir da nossa bela CartECA</h1>
            <img src="{{url_for('static', filename='ECA2.png') }}">
        </div>
        <form method="post">
            <div class="rigth-login">        
                <div class="info">
                    <h1>Login</h1>
                    <div class="textfield">
                        <label for="usuario">Usuário: </label>
                        <input type="text" name="nome" id="nome" placeholder="usuario">
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha: </label>
                        <input type="password" name="senha" id="senha" placeholder="senha">
                    </div>
                    <button class="btn-login">Login</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>