*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #65a96e;
    width: 100vw;
    justify-content: center;
    padding: 10px;
}

.logo{
    display: flex;
    width: 25%;
    height: 80px;
    justify-content: center;
}
.redes{
    display: flex;
    width: 25%;
    justify-content: center;
}
.menu{
    display: flex;
    width: 50%;
    justify-content: center;
}
.menu nav a{
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: #2c5c34;
}
.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-color: #b4cfbc;
    position: absolute;
    top: 25px;
    left: 0;
    transition: width 0.5s;
}
.menu nav a:hover::after{
    width: 40px;
}

.redes button{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    margin-right: 25px;
    border-radius: 8px;
    
    background-color: #b4cfbc;
}
.redes button i{
    font-size: 20px;
    color: #2c5c34;
}