<!DOCTYPE html>
<html lang="pt-br">
<head>
    <script src="https://kit.fontawesome.com/649e88a597.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/scarta.css">
    <link rel="stylesheet" href="./static/testi.css">
    <title>CartECA</title>
</head>
<header>
    <div class="mainc">
        <div class="logoc"> <img src="{{url_for('static', filename='caneca.png') }}" alt="caneca"></div>
        <div class="menuc">
            <nav>
                <a href="/carta">Escrever</a>
                <a href="#">Mostrar</a>
                <a href="/">Sair</a>
            </nav>
        </div>
        <div class="redesc">
            <a href="https://github.com/zeloo22?tab=repositories"><button><i class="fa-brands fa-github"></i></button></a>
            <a href="https://www.instagram.com/diniz_22/"><button><i class="fa-brands fa-instagram"></i></button></a>
        </div>

    </div>
</header>
<body>

    <form method="post">
        <div class="main">
                {% for message in get_flashed_messages() %}
                 {{ message }}   
                {% endfor %}
            <h1>Bem vindo a CartECA</h1>
            <div class="info">
                <div class="left">
                    <label for="data"> Data:</label>
                    <input type="date" name="data" id="data" >
                </div>
                <div class="rigth">
                    <div class="single">
                        <input type="text" name="remetente" id="remetente" required>
                        <label for="remetente">Remetente</label>
                    </div>
                    <div class="single">
                        <input type="text" name="destinatario" id="destinatario" required>
                        <label for="destinatario">Destinatario</label>
                    </div>
                    <div class="single">
                        <input type="text" name="assunto" id="assunto" required>
                        <label for="assunto">Assunto</label>
                    </div>
                        <div class="single">
                            <textarea name="corpo" id="corpo" cols="30" rows="10" ></textarea>
                        </div> 
                </div>
            </div>
            <button type="submit" class="bnt">Enviar</button>
        </div>
    </form>
</body>
</html>